body {
    background-color: antiquewhite;
}

h1.titulocarta{
    color: brown;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.carta{
    color: brown;
}
